body {
  background-color: #000;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.navbar {
  background: #000;
  padding: 1rem 2rem;
  border-bottom: 2px solid rgb(38, 181, 38);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-btn {
  color: rgb(38, 181, 38);
  text-decoration: none;
  font-size: 1.2rem;
}

.game-page {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
}

.game-info {
  display: flex;
  max-width: 1000px;
  gap: 2rem;
}

.game-cover {
  width: 22vw;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(38, 181, 38, 0.5);
}

.game-details h2 {
  color: rgb(38, 181, 38);
  margin-top: 1.5rem;
}

.game-details p,
.game-details ul {
  line-height: 1.6;
}

.game-link {
  color: rgb(38, 181, 38);
  text-decoration: none;
}

.game-link:hover {
  text-decoration: underline;
}

.game-link:visited {
  color: rgb(100, 181, 100);
}

.game-link.stack:visited {
  color: rgb(38, 181, 38)
}

/* STACK PAGE SPECIFIC */

.stack-row {
  display: flex;
  gap: 10rem;
  margin-top: 2rem;
  text-align: center;
}

.stack-pfp {
  width: 15vw;
  height: 15vw;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(38, 181, 38, 0.5);
}