/* Discord Page */

.button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 32px;
    font-family: 'Orbitron', sans-serif;
    border: 5px solid #000000;
    background-color: #c01600;
    color: white;
    border-radius: 25px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition-duration: 0.08s;
    transition-timing-function: ease-in;
}

.button:hover {
    background-color: #d72727;
    cursor: pointer;
}

.button:active {
    box-shadow: none;
    background-color: #a53c3c;
    transform: translate(2px, 3px);
}