* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */

body {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(131, 131, 131);
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: hidden;
}

.bottom-gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    pointer-events: none;
    background: linear-gradient(to top, rgba(71, 150, 64, 0.863), transparent);
    z-index: 0;
  }
  
.logo {
    width: 200px;
    height: auto;
    margin-right: 13rem;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0.5rem 1.5rem;
    border-bottom: 0.25rem solid rgb(38, 181, 38);
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    margin-left: 1rem;
    padding: 1.5rem 1.15rem;
    border-radius: 5px 5px 5px 5px;
    transition: background-color 0.1s ease-in, color 0.1s ease-in;
  }

.nav-left a:first-child {
    margin-left: 0;
}

.navbar a:hover {
    background-color: white;
    color: black;
    text-shadow: none;
}

.nav-left,
.nav-right {
    display: flex;
}

.navbar .tab.active {
  background: rgb(38, 181, 38);
  color: #ffffff;
  transition: background-color 0.2s ease, color 0.2s ease;
}
