/* TAB CONTENT */

.tab-content {
  display: none;
  visibility: hidden;
  overflow-y: auto;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.6s ease, opacity 0.2s ease;
  pointer-events: none;
}

.tab-content.active {
  overflow-y: visible;
  visibility: visible;
  display: block;
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  position: absolute;
  z-index: 1;
}

.tab-content.enter-from-right {
  transform: translateX(50px);
  opacity: 0;
}

.tab-content.enter-from-left {
  transform: translateX(-50px);
  opacity: 0;
}

.tab-content.leave-to-right {
  transform: translateX(50px);
  opacity: 0;
}

.tab-content.leave-to-left {
  transform: translateX(-50px);
  opacity: 0;
}

/* TAB SCROLL BAR */

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: black;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(38, 181, 38);
  border-radius: 6px;
  border: 2px solid black;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(38, 181, 38);
}

body::-webkit-scrollbar-corner {
  background-color: black;
}

.tab-content {
  scrollbar-width: auto;
  scrollbar-color: rgb(38, 181, 38) black;
}

/* TAB TEXT */
.tab-text {
  max-width: 55vw;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
  margin-top: 1.5vw;
}